@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css ");

body{
    height:100vh;
}
.flex-center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h-screen{
    height:100vh
}
.mr-5{
    margin-right: 2.5rem;
}